{% extends 'main/base.html' %}

{% block body %}

	<div class="container-fluid">

				<!-- -->
			<div class="row section grid" id="welcome" style="background-color: #ccd0d7; padding-top: 100px;">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/welcome.html' %}
				</div>
			</div>


			<!-- -->
			<div class="row section odd grid" id="intro">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/intro.html' %}
				</div>
			</div>

			<!-- -->
			<div class="row section even grid" id="arch">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/arch.html' %}
				</div>
			</div>

			<!-- -->
			<div class="row section odd grid" id="demo">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/demo.html' %}
				</div>
			</div>

			<!-- -->
			<div class="row section even grid" id="query">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/query.html' %}
				</div>
			</div>

			<!-- -->
			{% if results %}
			<div class="row section grid" id="results" style="background-color: #ccd0d7">
				<div class="col-lg-8 col-lg-push-2">
					{% include './main/results.html' %}
				</div>
			</div>
			{% endif %}

		</div>

	</div>

{% endblock %}